BasedOnStyle: GNU  # or any other base style
IndentWidth: 4
UseTab: Always         # Use tabs for indentation
ColumnLimit: 175
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
BraceWrapping:
  AfterControlStatement: false
  AfterFunction: false          # Keeps function braces on the same line
  AfterClass: false             # Keeps class braces on the same line
  AfterNamespace: false         # Keeps namespace braces on the same line
  BeforeCatch: false            # Keeps catch braces on the same line
  BeforeElse: false             # Keeps else braces on the same line
